body{
  background: #eee;
}

.header{
  display: flex;

  /*Horizontal alignment*/
  justify-content: center;

  /*Vertical alignment*/
  align-items: center;

  margin-top: 2.5%;
}

.header .logo{
  width: 40vh;
}




.body{
  display: flex;
  justify-content: space-between;
}

.body .body_half{
  width: 50%;
}

.body_half.left_half{
  margin: 0 2.5% 0 5%;
}

.body_half.right_half{
  margin: 0 5% 0 2.5%;
}


.card-content{
  text-align: center;
}

.card-content h2{
  font-size: 8vh;
}

.card-content p{
  font-size: 8vh;
}

.robot_animations{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.robot_animations .robot_animation{
}


.robot_animation img{
  padding: 18px;
  max-width: 17vh;
}


.footer{
  width: 100%;
  text-align: center;
}
